04 - Escape The Room/RoomEscape/Build
04 - Escape The Room/RoomEscape/Binaries
04 - Escape The Room/RoomEscape/DerivedDataCache
04 - Escape The Room/RoomEscape/Intermediate
04 - Escape The Room/RoomEscape/Saved
04 - Escape The Room/RoomEscape/Content/StarterContent/
*.VC.db